:root {
  --main-color: rgba(0,0,0,0.8);
  --sec-color: white;
}
html, #root {
  background-color: var(--main-color);
  height: 100%;
  width: 100%;
}
#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35rem;
  min-width: 30rem;
  min-height: 23rem;
  background-color: var(--sec-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.2rem;
}
#App * {
  color: var(--main-color);
}
#quote-header {
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#quote {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0 1rem;
}
blockquote {
  font-size: 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 100%;
}
#quote blockquote q:before {
  content: open-quote;
  font-size: 3rem;
  line-height: 0.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  vertical-align: -0.8rem;
  margin-right: 0.4rem;
  color: var(--main-color);
}
#quote blockquote q:after {
  content: no-close-quote;
}
#quote blockquote footer {
  font-size: 90%;
  text-align: right;
  margin-top: 0.5rem;
  margin-right: 3rem;
}
#quote blockquote footer:before {
  content: "\2014\00A0";
}
#quote-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.5rem;
  padding: 0 1rem;
}
#quote-controls button {
  background-color: var(--main-color);
  color: var(--sec-color);
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.2rem;
  padding: 0.4rem 0.9rem;
  margin-top: 0.2rem;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#quote-controls button:hover:enabled {
  background-color: var(--sec-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
#quote-controls button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
i.fa {
  font-size: 2.5rem;
  background-color: var(--sec-color);
  color: var(--main-color) !important;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}
i.fa:hover {
  background-color: var(--main-color);
  color: var(--sec-color) !important;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}